.CheckoutContainer {
  position: fixed;
  height: 30%;
  width: 40%;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: orange;

  text-align: center;
  align-items: center;
  justify-content: center;
}
